<div class="container col-xs-12" [@fadeInAnimation]="_ce.showClient ? true : false">
  <div class="panel-heading panel-dark left-border"><img src="./assets/user.svg" class="icon-icp"/> {{'CLIENT' | Translate }}</div>
  <div class="panel-body">
      <div class="col-xs-12 col-md-6 label-important">
          <p><label class="normal-label">{{'Name Client' | Translate}}</label>: <label class="label-mas-important"  name="_client">{{ person.NOMBRE_CLIENTE }}</label></p>
          <p><label class="normal-label"> {{'No Document' | Translate}}</label>: <label name="_docNo">{{ person.NUMERO_DOCUMENTO }}</label></p>
          <p><label class="normal-label">{{ 'Person Contact' | Translate}}</label>: <label name="_contact">{{ person.PERSONA_CONTACTO }}</label></p>
          <p><label class="normal-label">{{'Phone' | Translate}} {{'Provided' | Translate}}</label>: <label  name="_phonProv">{{ person.TELEFONO_APROVISIONAMIENTO }}</label></p>
          <p><label class="normal-label">{{'Phone' | Translate}}</label>: <label name="_phone">{{ person.TELEFONO }}</label></p>
        </div>
      <div class="col-xs-12 col-md-6 label-important">
          <p><label class="normal-label">{{ 'Address Delivery' | Translate }}</label>: <label name="_delAddress">{{ person.DIRECCION_ENTREGA }}</label></p>
          <p><label class="normal-label">{{'Town' | Translate}}</label>: <label name="_town">{{ person.POBLACION }}</label></p>
          <p><label class="normal-label">{{'County' | Translate}}</label>: <label name="_county">{{ person.PROVINCIA }}</label></p>
          <p><label class="normal-label">{{'PC' | Translate}}</label>: <label name="_pc">{{ person.CODIGO_POSTAL }}</label></p>
      </div>
  </div>
</div>