<div class="container col-xs-12" [@fadeInAnimation]="_ce.showClient ? true : false">
  <div class="panel-heading panel-dark left-border">
      <img src="./assets/detalle.svg" class="icon-icp"/>{{'ORDER DETAIL LIST'| Translate}}</div>
  <div class="panel-body">
        <app-tablaicp 
          *ngIf="ShowTablaICP" 
          [(rows)]="rows"
          [(columns)]="columns" 
          [(itemsPerPage)]="itemsPerPage" 
          [(config)]="config"
          [(data)]="data" >
      </app-tablaicp>
  </div>
</div>