<div class="container col-sm-12">
    <div class="panel-heading panel-dark"><img src="/WebConsultasEnvioA2/Imagenes/Order_32.png">  {{'ORDER DELIVERY' | Translate}}</div>
    <div class="panel-body left-right-border">
        <table width="90%">
            <tr>
                <td width="50%"><label class="background-important">{{ 'No Delivery' | Translate}} </label> <label class="label-important label-mas-important" name="_delivery"> --  </label></td>
                <td width="50%"><label class="background-important">{{'Date Order' | Translate}}</label> <label class="label-important" name="_orderDate"> {{ orderBP.FECHA_ORDEN | date: 'dd/MM/yyyy' }} </label></td>
            </tr>
            <tr>
                <td width="100%" colspan="2"><label class="background-important">{{'Status' | Translate}}</label> <label class="label-important" name="_status"> {{ orderBP.ESTATUS_PETICION }}  </label></td>
            </tr>
            <tr>
                <td width="100%" colspan="2"><label class="background-important">{{'Order Customer' | Translate}}</label> <label class="label-important"  name="_customerOrder"> {{ orderBP.ORDEN }} </label></td>
            </tr>
            <tr>
                <td width="50%"><label class="background-important">{{'Division' | Translate}}</label> <label class="label-important" name="_division"> {{ orderBP.DIVISION }} </label></td>
                <td width="50%"><label class="background-important">{{'Refund' | Translate }}</label> <label class="label-important" name="_refund"> {{ orderBP.IMPORTO_CONTRAREEMBOLSO | number: 0.00 }} </label></td>
            </tr>
            <tr>
                <td width="100%" colspan="2"><label class="background-important">{{'Shipping' | Translate}}</label> <label class="label-important" name="_shipping"> --  </label></td>
            </tr>
            <tr>
                <td width="100%" colspan="2"><label class="background-important">{{'Email' | Translate}} </label> <label class="label-important" name="_dispatchNo"> {{ orderBP.MAIL }} </label></td>
            </tr>
            <tr>
                <td width="100%" colspan="2"><label class="background-important">{{'Observation' | Translate}}</label> <label class="label-important" name="_observations"></label></td>
            </tr>
        </table>
    </div>
</div>
